.container {
    margin: 50px 0;
    padding: 25px;
}

.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: 10px solid #d57361;
}

.recovered {
    border-bottom: 10px solid #9dd866;
}

.deaths {
    border-bottom: 10px solid #ffa056;
}